@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";
@import "print";

body {
    padding-top: 3.5rem;
    margin-bottom: 3.5rem;
}

html {
    position: relative;
    min-height: 100%;
}



main {
    padding: 1rem;
}

footer {
    color: white;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@import "popup";